@model DACN.Models.BenhNhan
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2> Chi tiết tài khoản</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên Đăng Nhập
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaiKhoan)
        </dd>

        <dt>
            Mật Khẩu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatKhau)
        </dd>

        <dt>
            Tên Bệnh Nhân
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoVaTen)
        </dd>

        <dt>
            Giới Tính
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioiTinh.TenGioiTinh)
        </dd>

        <dt>
            Ngày Sinh
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh Sửa", "Edit", new { id = Model.MaBenhNhan }) |
    @Html.ActionLink("Back to List", "TaiKhoanBN")
</p>
