@model IEnumerable<DACN.Models.Admin>
@{
    ViewBag.Title = "DanhSachTaiKhoan";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Tài Khoản quản trị viên</h2>
<p>
    <button class="btn-info"> @Html.ActionLink("Thêm mới", "TaoTaiKhoan", new { }, new { @style = "color:white;" }) </button>
</p>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Tên Đăng Nhập</th>
            <th>Mật Khẩu</th>
            <th>Chức Năng</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="row_@item.MaTaiKhoan">
                <td>
                    @Html.DisplayFor(modelItem => item.TaiKhoan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MatKhau)
                </td>
                <td>
                    <button class="btn btn-success">
                        @Html.ActionLink("Sửa", "ChinhSuaTaiKhoan", new { id = item.MaTaiKhoan }, new { @style = "color:white;" })
                    </button>
                    <button class="btn btn-danger">
                        @Ajax.ActionLink("Xóa", "XoaTaiKhoan", new { id = item.MaTaiKhoan }, new AjaxOptions
                                    {
                                        Confirm = "Bạn muốn xóa tài khoản này?",
                                        OnComplete = "$('#row_" + item.MaTaiKhoan + "').remove()",
                                        HttpMethod = "Delete"
                                    }, new { @style = "color:white" })
                    </button>
                </td>
            </tr>
        }
    </tbody>
    <thead>
        <tr>
            <th>Tên Đăng Nhập</th>
            <th>Mật Khẩu</th>
            <th>Chức Năng</th>
        </tr>
    </thead>
</table>
