@model DACN.Models.BacSi
@{
    ViewBag.Title = "ChiTiet";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2> Chi tiết tài khoản</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Tên Đăng Nhập</dt>
        <dd>@Html.DisplayFor(model => model.TaiKhoan)</dd>

        <dt>Mật Khẩu</dt>
        <dd>@Html.DisplayFor(model => model.MatKhau)</dd>

        <dt>Tên Bác Sĩ</dt>
        <dd>@Html.DisplayFor(model => model.HoVaTen)</dd>

        <dt>Chuyên Khoa</dt>
        <dd>@Html.DisplayFor(model => model.ChuyenKhoa.TenChuyenKhoa)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh Sửa", "ChinhSua", new { id = Model.MaBacSi }) |
    @Html.ActionLink("Quay lại", "TaiKhoanBS")
</p>

