@model IEnumerable<DACN.Models.LichHen>
@{
    ViewBag.Title = "LichHenBS";
    Layout = "~/Views/Shared/Doctor_Layout.cshtml";
}

<h1 class="text-center wow fadeInUp mt-5">Lịch Hẹn</h1>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Tên Bệnh Nhân</th>
            <th>Ngày Khám</th>
            <th>Nội Dung</th>
            <th>Trạng Thái</th>
            <th>Chức Năng</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="row_@item.MaLich">
                <td>@Html.DisplayFor(modelItem => item.BenhNhan.HoVaTen)</td>
                <td>@Html.DisplayFor(modelItem => item.Lich.Ngay)</td>
                <td>@Html.DisplayFor(modelItem => item.NoiDung)</td>
                <td>
                    @{
                        if (item.TrangThai == 0)
                        {
                            <div style="color:red">Đã từ chối</div>
                        }
                        else if (item.TrangThai == 1)
                        {
                            <div style="color:slateblue">Đã chấp nhận</div>
                        }
                        else if (item.TrangThai == 2)
                        {
                            <div style="color:sandybrown">Đang chờ xác nhận</div>
                        }
                    }
                </td>
                <td>
                    <button class="btn btn-success">
                        @Ajax.ActionLink("Chấp Nhận", "LichHenBS", new { id = item.MaLich, id1 = 1 }, new AjaxOptions
                   {
                       Confirm = "Bạn sẽ chấp nhận cuộc hẹn này?",
                       OnSuccess = "window.location.reload()",
                       HttpMethod = "POST",
                   }, new { @style = "color:white" })
                    </button>
                    <button class="btn btn-danger">
                        @Ajax.ActionLink("Từ Chối", "LichHenBS", new { id = item.MaLich, id1 = 0 }, new AjaxOptions
                   {
                       Confirm = "Bạn sẽ từ chối cuộc hẹn này?",
                       OnSuccess = "window.location.reload()",
                       HttpMethod = "POST",
                   }, new { @style = "color:white" })
                    </button>
                </td>
            </tr>
        }
    </tbody>
    <thead>
        <tr>
            <th>Tên Bác Sĩ</th>
            <th>Chuyên Khoa</th>
            <th>Ngày Khám</th>
            <th>Nội Dung</th>
            <th>Trạng Thái</th>
        </tr>
    </thead>
</table>
