@model IEnumerable<DACN.Models.BacSi>
@{
    ViewBag.Title = "TaiKhoanBS";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Tài Khoản Bác Sĩ</h2>
<p>
    <button class="btn-info"> @Html.ActionLink("Thêm mới", "ThemMoi", new { }, new { @style = "color:white;" }) </button>
</p>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Ảnh Đại Diện</th>
            <th>Tên Đăng Nhập</th>
            <th>Mật Khẩu</th>
            <th>Chuyên Khoa</th>
            <th>Chức Năng</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="row_@item.MaBacSi">
                <td style="text-align:center">
                    <img src="~/Content/HinhAnh/AvtBS/@item.HinhAnh" style="width: 120px; height: 50%" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaiKhoan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MatKhau)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChuyenKhoa.TenChuyenKhoa)
                </td>
                <td>
                    <button class="btn btn-success">
                        @Html.ActionLink("Sửa", "ChinhSua", new { id = item.MaBacSi }, new { @style = "color:white;" })
                    </button>
                    <button class="btn btn-primary">
                        @Html.ActionLink("Chi tiết", "ChiTiet", new { id = item.MaBacSi }, new { @style = "color:white;" })
                    </button>
                    <button class="btn btn-danger">
                        @Ajax.ActionLink("Xóa", "Xoa", new { id = item.MaBacSi }, new AjaxOptions
                                    {
                                        Confirm = "Bạn muốn xóa tài khoản này?",
                                        OnComplete = "$('#row_" + item.MaBacSi + "').remove()",
                                        HttpMethod = "Delete"
                                    }, new { @style = "color:white" })
                    </button>
                </td>
            </tr>
        }
    </tbody>
    <thead>
        <tr>
            <th>Ảnh Đại Diện</th>
            <th>Tên Đăng Nhập</th>
            <th>Mật Khẩu</th>
            <th>Chuyên Khoa</th>
            <th>Chức Năng</th>
        </tr>
    </thead>
</table>