@model IEnumerable<DACN.Models.BenhAn>
@{
    ViewBag.Title = "TimKiem";
    Layout = "~/Views/Shared/Doctor_Layout.cshtml";
}
<h1 style="text-align:center">Tìm Kiếm</h1>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Mã Bệnh Án</th>
            <th>Tên Bác Sĩ</th>
            <th>Tên Bệnh Nhân</th>
            <th>Ngày Khám</th>
            <th>Nội Dung</th>
            <th>Chuẩn Đoán</th>
            <th>Chức Năng</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaBenhAn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BacSi.HoVaTen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BenhNhan.HoVaTen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayKham)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoiDung)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChuanDoan)
                </td>
                <td>
                    <button class="btn btn-primary">
                        @Html.ActionLink("Chi tiết", "ChiTietBenhAn", new { id = item.MaBenhAn }, new { @style = "color:white;" })
                    </button>
                </td>
            </tr>
        }
    </tbody>
    <thead>
        <tr>
            <th>Mã Bệnh Án</th>
            <th>Tên Bác Sĩ</th>
            <th>Tên Bệnh Nhân</th>
            <th>Ngày Khám</th>
            <th>Nội Dung</th>
            <th>Chuẩn Đoán</th>
            <th>Chức Năng</th>
        </tr>
    </thead>
</table>

